{% extends 'base.html.twig' %}

{% block title %}Ajout d'un employé{% endblock %}

{% block body %}
    {% set formSubmitText = "Ajouter" %}

    {% for flash_error in app.flashes('verify_email_error') %}#}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Ajout d'un employé</h2>
                    {{ include('employee/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
